<div class="container">
  <div class="headerContent">
    <span class="title">Dashboard</span>
    <span>
      <fa-icon [icon]="faPlusCircle" size="lg"></fa-icon>
    </span>
  </div>

  <div class="dailyBalance">
    <h3>Daily Balance</h3>
    <h4>1234,55€</h4>
  </div>

  <div class="chashFlow">
    <div class="cardContainer">
      <h5>Receiras</h5>
      <h4>3,333.21€</h4>
    </div>
    <div class="cardContainer">
      <h5>Despesas</h5>
      <h4>123€</h4>
    </div>
    <div class="cardContainer">
      <h5>Total</h5>
      <h4>3,222.11€</h4>
    </div>
  </div>
</div>
