.container {
  margin-left: 5px;

  .headerContent {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    fa-icon {
      cursor: pointer;
    }
  }

  .dailyBalance {
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 30px;
  }
}

.chashFlow {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 30px;

  .cardContainer + div {
    margin-left: 15%;
  }
}

@media (max-width: 767px) {
  fa-icon {
    margin-right: 55px;
  }

  span.title {
    left: 0 !important;
  }
}
