<div class="grid-container">
  <div class="grid-header-content">
    <div class="headerContent">
      <span class="title">Dashboard</span>
      <span>
        <fa-icon [icon]="faPlusCircle" size="lg"></fa-icon>
      </span>
    </div>
  </div>

  <div class="grid-daily-balance">
    <div class="dailyBalance">
      <h3>1234,55€</h3>
      <h4>Daily Balance</h4>
    </div>
  </div>

  <div class="grid-chash-flow">
    <div class="chashFlow">
      <div class="cardContainer" style="background-color: #90e0ef;">
        <h5>Receitas</h5>
        <h4>3,333.21€</h4>
      </div>
      <div class="cardContainer" style="background-color: #faedcd;">
        <h5>Despesas</h5>
        <h4>123€</h4>
      </div>
      <div class="cardContainer" style="background-color: #f9c74f;">
        <h5>Total</h5>
        <h4>3,222.12€</h4>
      </div>
    </div>
  </div>
  <div class="grid-categories-graph">
    <h3>Categories</h3>
    <div class="categories-card">
      <div class="switch-input">
        Incomes | expenses
      </div>
      <div class="card-content">
        <img src="../../../assets/piechart-ggplot22.png" alt="graph">
        <div class="categories-list">
          <div class="row">
            <span>
              <fa-icon [icon]="faMoneyCheckAlt" size="lg"></fa-icon>
            </span>
            <span>Salary</span>
            <span>15%</span>
          </div>
          <div class="row">
            <span>
              <fa-icon [icon]="faCar" size="lg"></fa-icon>
            </span>
            <span>Car</span>
            <span>10%</span>
          </div>
          <div class="row">
            <span>
              <fa-icon [icon]="faShoppingCart" size="lg"></fa-icon>
            </span>
            <span>Shop</span>
            <span>23%</span>
          </div>
          <div class="row">
            <span>
              <fa-icon [icon]="faUtensils" size="lg"></fa-icon>
            </span>
            <span>Restaurants</span>
            <span>15%</span>
          </div>
          <div class="row">
            <span>
              <fa-icon [icon]="faGasPump" size="lg"></fa-icon>
            </span>
            <span>Fuel</span>
            <span>11%</span>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <span>Total: 90€</span>
        <span>Daily average: 14.9€</span>
      </div>
    </div>
  </div>
  <div class="grid-transactions-graph">
    <h3>Transactions</h3>
    <div class="transactions-card">
      <div class="switch-input">
        Incomes | expenses
      </div>
      <div class="card-content">
        <div class="row">
          <span>
            <fa-icon [icon]="faMoneyCheckAlt" size="lg"></fa-icon>
          </span>
          <span>Salary</span>
          <span>15%</span>
        </div>
        <div class="row">
          <span>
            <fa-icon [icon]="faChartLine" size="lg"></fa-icon>
          </span>
          <span>Side projects</span>
          <span>30%</span>
        </div>
        <div class="row">
          <span>
            <fa-icon [icon]="faMotorcycle" size="lg"></fa-icon>
          </span>
          <span>Sell moto</span>
          <span>40%</span>
        </div>
      </div>

    </div>
  </div>

  <div class="grid-transactions-table">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <!-- Name Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Value </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
