table {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-left: 5px;

  padding: 24px;

  grid-template-areas:
    "header header"
    "dailyBalance dailyBalance"
    "chashFlow chashFlow"
    "categoriesGraph transactionsGraph"
    "transactionsTable transactionsTable";

  .headerContent {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    fa-icon {
      cursor: pointer;
    }

    .title {
      font-size: 24px;
      font-weight: 700;
    }
  }

  .dailyBalance {
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 25px;

    h4 {
      color: darkgray;
    }
  }
}

.chashFlow {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 30px;

  background: #fff;
  border-radius: 16px;

  .cardContainer {
    background: #e5e5e5;
    margin: 16px;
    padding: 20px 30px;
    border-radius: 16px;
    h5 {
      color: darkgray;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardContainer + div {
    margin-left: 15%;
  }
}

.grid-header-content {
  grid-area: header;
  /* grid-column: 1 / -1; */
  /* grid-column-start: 1;
  grid-column-end: -1; */
}
.grid-daily-balance {
  grid-area: dailyBalance;
}
.grid-chash-flow {
  grid-area: chashFlow;
}

.grid-categories-graph {
  grid-area: categoriesGraph;

  h3 {
    margin-bottom: 8px;
    font-weight: 400;
    color: darkgray;
  }

  .categories-card {
    background-color: #fff;
    border-radius: 8px;
    height: 335px;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;

    .switch-input {
      margin: 24px;
      text-align: center;
    }

    .card-content {
      display: flex;
      justify-content: space-between;

      img {
        margin-left: 24px;
        width: 200;
        height: 200px;
      }

      .categories-list {
        display: flex;
        flex-direction: column;

        .row {
          display: flex;

          margin: 8px 0;

          span + span {
            margin-left: 16px;
          }
        }
      }
    }

    .card-footer {
      display: flex;
      justify-content: space-between;

      margin-top: 36px;
    }
  }
}
.grid-transactions-graph {
  h3 {
    margin-bottom: 8px;
    font-weight: 400;
    color: darkgray;
  }

  .transactions-card {
    background-color: #fff;
    border-radius: 8px;
    height: 335px;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;

    .switch-input {
      margin: 24px;
      text-align: center;
    }

    .card-content {
      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.grid-transactions-table {
  grid-area: transactionsTable;
}

@media (max-width: 767px) {
  fa-icon {
    margin-right: 55px;
  }

  span.title {
    left: 0 !important;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-left: 5px;

    grid-template-areas:
      "header header"
      "dailyBalance dailyBalance"
      "chashFlow chashFlow"
      "categoriesGraph categoriesGraph"
      "transactionsGraph transactionsGraph"
      "transactionsTable transactionsTable";
  }

  .chashFlow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 30px;

    margin-right: 36px;
    margin-left: 36px;

    .cardContainer + div {
      margin-left: 0;
    }
  }

  .grid-categories-graph {
    h3 {
      margin-left: 36px;
    }
    .categories-card {
      margin: 36px;
    }
  }

  .grid-transactions-graph {
    h3 {
      margin-left: 36px;
    }

    .transactions-card {
      min-width: 600px;
      margin: 36px;
      padding: 0 20px 20px 20px;
    }
  }

  .grid-transactions-table {
    margin: 36px;
  }
}
