<div class="grid-container">
  <div class="grid-header-content">
    <div class="headerContent">
      <span class="title">Dashboard</span>
      <span>
        <fa-icon [icon]="faPlusCircle" size="lg"></fa-icon>
      </span>
    </div>
  </div>

  <div class="grid-daily-balance">
    <div class="dailyBalance">
      <h3>1234,55€</h3>
      <h4>Daily Balance</h4>
    </div>
  </div>

  <div class="grid-chash-flow">
    <div class="chashFlow">
      <div class="cardContainer" style="background-color: #90e0ef;">
        <h5>Receitas</h5>
        <h4>3,333.21€</h4>
      </div>
      <div class="cardContainer" style="background-color: #faedcd;">
        <h5>Despesas</h5>
        <h4>123€</h4>
      </div>
      <div class="cardContainer" style="background-color: #f9c74f;">
        <h5>Total</h5>
        <h4>3,222.12€</h4>
      </div>
    </div>
  </div>
  <div class="grid-categories-graph">
    <h3>Categories</h3>
    <div class="categories-card">
      <div class="switch-input">
        Income | expense
      </div>
      <div class="card-content">
        <p>GRAPH</p>
        <div class="categories-list">
          <span>icone</span>
          <span>category name</span>
          <span>15%</span>
        </div>
      </div>
      <div class="card-footer">
        <span>Total: xx€</span>
        <span>Daily average: xx€</span>
      </div>
    </div>
  </div>
  <div class="grid-transactions-graph">
    <p>transactions</p>
  </div>

  <div class="grid-transactions-table">
    <p>table aqui</p>
  </div>
</div>
