<div class="navigation" [ngClass]="{'active': isActive}">
  <ul>
    <li>
      <a href="#">
        <span class="icon">
          <fa-icon [icon]="faHome" size="lg"></fa-icon>
        </span>
        <span class="title">Home</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <fa-icon [icon]="faChartPie" size="lg"></fa-icon>
        </span>
        <span class="title">Overview</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <fa-icon [icon]="faChartBar" size="lg"></fa-icon>
        </span>
        <span class="title">Transactions</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <fa-icon [icon]="faCreditCard" size="lg"></fa-icon>
        </span>
        <span class="title">Accounts</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <fa-icon [icon]="faBullseye" size="lg"></fa-icon>
        </span>
        <span class="title">Goals</span>
      </a>
    </li>
  </ul>

  <li class="logout">
    <a href="#">
      <span class="icon">
        <fa-icon [icon]="faSignOutAlt" size="lg"></fa-icon>
      </span>
      <span class="title" (click)="logout()">Logout</span>
    </a>
  </li>


</div>

<div class="toggle" [ngClass]="{'active': isActive}" (click)="toggleMenu()">
</div>
