<div class="navigation">
  <ul>
    <li>
      <a href="#">
        <span class="icon">
          <mat-icon>home</mat-icon>
        </span>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <mat-icon>dashboard</mat-icon>
        </span>
        <span>Overview</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <mat-icon>change_circle</mat-icon>
        </span>
        <span>Transactions</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <mat-icon>switch_account</mat-icon>
        </span>
        <span>Accounts</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <mat-icon>savings</mat-icon>
        </span>
        <span>Goals</span>
      </a>
    </li>
  </ul>
</div>
