.navigation {
  position: fixed;
  width: 60px;
  height: 100%;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    li {
      position: relative;
      width: 100%;
      list-style: none;

      &:hover {
        background: #ddd7d9;
      }

      a {
        position: relative;
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000;

        .icon {
          position: relative;
          display: block;
          min-width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;

          mat-icon {
            font-size: 24px;
          }
        }

        .title {
          position: relative;
          display: block;
          padding: 0 10px;
          height: 60px;
          line-height: 60px;
          text-align: start;
          white-space: nowrap;
        }
      }
    }
  }
}

.logout {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  list-style: none;

  &:hover {
    background: #ddd7d9;
  }

  a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;

    .icon {
      position: relative;
      display: block;
      min-width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;

      mat-icon {
        font-size: 24px;
      }
    }

    .title {
      position: relative;
      display: block;
      padding: 0 10px;
      height: 60px;
      line-height: 60px;
      text-align: start;
      white-space: nowrap;
    }
  }
}

.navigation:hover,
.navigation.active {
  width: 250px;
}

@media (max-width: 767px) {
  .navigation {
    left: -60px;

    &.active {
      left: 0px;
      width: 100%;
    }
  }

  .toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #330748;
    cursor: pointer;

    &.active {
      background: #ddd7d9;

      &:before {
        content: "\f00d";
      }
    }

    &:before {
      content: "\f0c9";
      font-family: "FontAwesome";
      position: absolute;
      width: 100%;
      height: 100%;
      line-height: 60px;
      text-align: center;
      font-size: 24px;
      color: #fff;
    }
  }
}
