<div class="navigation">
  <ul>
    <li>
      <a href="#">
        <span class="icon">
          <fa-icon [icon]="faHome" size="lg"></fa-icon>
        </span>
        <span class="title">Home</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <fa-icon [icon]="faChartPie" size="lg"></fa-icon>
        </span>
        <span class="title">Overview</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <fa-icon [icon]="faChartBar" size="lg"></fa-icon>
        </span>
        <span class="title">Transactions</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <fa-icon [icon]="faCreditCard" size="lg"></fa-icon>
        </span>
        <span class="title">Accounts</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <fa-icon [icon]="faBullseye" size="lg"></fa-icon>
        </span>
        <span class="title">Goals</span>
      </a>
    </li>
  </ul>
</div>

<div class="toggle">
</div>
